footer {
    display: flex;
    margin-top: 133px;
    align-items: center;
    gap: 600px;
    border-top: 1px solid #C4C4C4;

    .logo  {
        display: flex;
        font-size: 36px;
    }

    span:last-child {
        color: #939393;
    }

    .text-gray {
        margin-top: 42px;
    }
}